$gedepiar-font-size-base: 16px !default;
$gedepiar-font-size-h2: 25px !default;
$gedepiar-font-size-h3: 20px !default;
$gedepiar-color-text: #5f5e5e !default;
$gedepiar-color-primary: #009fe3 !default;
$gedepiar-color-success: #42b983 !default;
$gedepiar-bg-color-overlay: #eee !default;
